<div class="file-upload">

  <file-drop *ngIf="!isUploading" headertext="Drop files here" (onFileDrop)="dropped($event)"
             (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
    <span>Drag and drop image file here</span>
  </file-drop>
  <div fxLayout="column" *ngIf="isUploading">
    <div fxLayout="row" fxLayoutAlign="center">
      <img class="preview-img" [src]="previewUrl"/>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <mat-progress-bar [value]="progressPercentage"></mat-progress-bar>
    </div>
    <div fxLayout="row">
      <span class="file-info">{{progressPercentage}}% {{loaded | bytes}} of {{total | bytes}}</span>
    </div>
  </div>
</div>
